
# Backend
SUPABASE_URL=https://trqfoshvelezlzxjrpth.supabase.co
SUPABASE_ANON_KEY=sb_publishable_zxmWJ9YbbAz0Z9iqOAbDNQ_M9P9Ajkz

#Frontend
VITE_SUPABASE_URL=https://trqfoshvelezlzxjrpth.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_zxmWJ9YbbAz0Z9iqOAbDNQ_M9P9Ajkz

# Server
PORT=10000
NODE_ENV=production
